@font-face {
  font-family: "Souls Font";
  src: url("font/OptimusPrincepsSemiBold.ttf");
}

@font-face {
  font-family: "Souls Font Bold";
  src: url("font/OptimusPrinceps.ttf");
}

@font-face {
  font-family: "Elden Font";
  src: url("font/Mantinia\ Regular.otf");
}

html,
body {
  background-color: black;
  min-width: 100wh;
  min-height: 100vh;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.titolo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 120px;
  color: white;
  user-select: none;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.seuls,
.seuls2,
.seuls3 {
  font-family: "Souls Font";
  text-align: center;
  font-size: 100px;
  -webkit-text-stroke: 1px;
  color: white;
  user-select: none;
  margin-top: 100px;
  margin-bottom: 10px;
}

.elden {
  font-family: "Elden Font";
  text-align: center;
  font-size: 100px;
  color: rgb(255, 223, 62);
  user-select: none;
  margin-top: 100px;
  margin-bottom: 10px;
}

.paragrafo {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  max-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
}

input {
  padding: 20px;
  width: 450px;
  font-size: 20px;
  height: 45px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 5px #313131;
}

input::placeholder {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

input:focus {
  outline-width: 0;
}

button {
  display: inline-block;
  padding: 13px 15px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 5px #313131;
  user-select: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.3s;
}

button:active {
  box-shadow: 0 5px #262626;
  transform: translateY(2px);
}

details {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  border: solid;
  padding: 5px 10px;
  margin-top: 30px;
  font-size: 30px;
  user-select: none;
  width: 200px;
  color: white;

  max-height: 60px; /* altezza chiusa */
  overflow: hidden; /* nasconde contenuto extra */
  transition: max-height 0.6s ease; /* animazione sia apertura che chiusura */
}

details[open] {
  max-height: 500px; /* altezza aperta */
  overflow-y: auto;
}

details[open]::-webkit-scrollbar {
  display: none;
}

details[open] {
  scrollbar-width: none; /* Firefox */
}

details:first-of-type summary::marker,
:is(::-webkit-details-marker) {
  content: "> ";
  font-family: monospace;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

details[open]:first-of-type summary::marker {
  content: "- ";
}

img {
  width: 50px;
  height: 55px;
}

.sigma {
  display: flex;
  align-items: center;
}

.sasso,
.sasso2,
.sasso3,
.sasso4 {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  input {
    width: 200px;
    height: 30px;
  }

  button {
    height: 70px;
    padding: 10px;
  }

  .titolo {
    font-size: 80px;
    padding-top: 100px;
  }
  .seuls {
    font-size: 65px;
  }
  .elden {
    font-size: 65px;
  }

  details {
    font-size: 20px;
  }
}
